.header{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #C43328;
    
}

.condorito{
    display: flex;
    margin: 0 60px;
    
}

.titulo{
    font-size: calc(1rem + 1vw);
    margin: 0;
    padding: 0;
}
.div_titulo{
    display: flex; 
    align-items: center; 
    height: auto;
    color: antiquewhite;width: 100%;
}

.titulo-version{
    color: antiquewhite;
    display: flex;
    justify-content: end;
    width: 20%;
}