<div class="top flex-column mt-3">
    <h1>PAW UD (Planificador Academico Web)</h1>
    <p>Selecciona tu carrera y empieza a armar tu glorioso semestre :D</p>
</div>
<div>
    <div>
        <div class="subject-container">
            <div>
                <h4>Carrera</h4>
                <input type="text" class="form-control" [(ngModel)]="searchedCareer"
                (input)="filterCareers(searchedCareer)">
            </div>
            
            <div>
                <h4>Carreras encontradas</h4>
                <div class="list-group overflow-y-auto h-15vh" *ngIf="hideCareerList()">                
                    
                    <button type="button" class="list-group-item list-group-item-action"
                    *ngFor="let item of filteredCareers" (click)="getCareer(item.name)">{{item.id}} - {{item.name}}                    
                    </button>
                </div>            
            </div>

        </div>

    </div>
    <div *ngIf="isSelectedCareer()">
        <div class="subject-container">

            <div *ngIf="subjectList.length > 0">
                <h4>Materias</h4>
                <input type="text" class="form-control" [(ngModel)]="searchedSubject"
                    (input)="filterSubjects(searchedSubject)">

                <div class="list-group overflow-y-auto h-25vh">
                    <button type="button" class="list-group-item list-group-item-action"
                        *ngFor="let item of filteredItems" (click)="selectSubject(item)">{{item.id}} - {{item.name}}
                        <span *ngIf="selectedSubjectList.includes(item)" class="fa-solid fa-check"></span>
                    </button>
                </div>
            </div>


            <div class="button-container m-top-bottom-3" *ngIf="filteredItems.length > 0">
                <button class="btn btn-primary mb-3">
                    <i class="fa-solid fa-arrow-right"></i>
                </button>

                <button class="btn btn-danger" (click)="cleanSelectedList()">
                    <i class="fa-solid fa-trash"></i>
                </button>

            </div>

            <div *ngIf="subjectList.length > 0">
                <h4>Materias Seleccionadas</h4>
                <div class="list-group overflow-y-auto h-25vh">

                    <div *ngIf="selectedSubjectList?.length == 0">
                        <p>Aquí no hay nada (como en el corazon de mi ex :'v).</p>
                        <p>Pero bueno, selecciona algunas materias para empezar.</p>
                    </div>

                    <div class=" list-group-item deselector" *ngFor="let item of selectedSubjectList">

                        <li class="list-group-item deselector-elem no-border">
                            {{item.id}} - {{item.name}} <span class="fa-solid fa-check"></span>
                        </li>
                        <button class="btn btn-primary" (click)="unselectSubject(item)">
                            <i class="fa-solid fa-angles-left"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content m-top-bottom-3" *ngIf="selectedSubjectList.length > 0">
    <h5>Selecciona el horario de las materias</h5>
</div>

<div class="subject-group-container">
    <div class="subject-group-container-child" *ngFor="let item of selectedSubjectList">
        
        
        <div>
            <h5>{{item.name}}</h5>            
        </div>


        <div class="form-check inline-block" *ngFor="let group of item.subjectDetailList; let itemIndex = index">
            <div *ngIf="itemIndex == 0">
                <input class="form-check-input" type="radio" [name]="item.id" [value]="" [(ngModel)]="group.value"
                    (ngModelChange)="filterGroups(item.id, '')" />
                <label class="form-check-label mr-3" [for]="item.id">
                    <span class="fa-solid fa-book"></span> Ninguno
                </label>
            </div>

            <div>
                <input class="form-check-input" type="radio" [name]="item.id" [value]="item.id + '|' + group.id"
                    [(ngModel)]="item.value" (ngModelChange)="filterGroups(item.id, group.id)"
                    [disabled]="group.isDisabled" />
                <label class="form-check-label mr-3" [for]="item.id">
                    <span class="fa-solid fa-book"></span>
                    {{group.id}}
                </label>

                <button type="button" class="btn btn-outline-secondary no-border" [ngbPopover]="popContent"
                    triggers="mouseenter:mouseleave" popoverTitle="Info. de la materia" placement="bottom auto">
                    <span class="fa-solid fa-circle-info"></span>
                </button>

                <ng-template #popContent class="popover-style">
                    <div>
                        <h6>{{group.id}}</h6>
                    </div>
                    <div>
                        <h6>Horario</h6>
                        <div *ngFor="let groupBlock of group.block">
                            <li>{{groupBlock.day}} {{groupBlock.start}} - {{groupBlock.end}}</li>
                            <p>{{groupBlock.loc}}</p>
                        </div>

                    </div>
                </ng-template>
            </div>
        </div>


    </div>
</div>


<div class="content m-top-bottom-3" *ngIf="selectedSubjectList.length > 0">
    <h3>Tu horario de clase</h3>
</div>

<div class="content">
    <div class="table-container" *ngIf="selectedSubjectList.length > 0">


        <table class="table table-striped">



            <tr class="">
                <th class="my-row"><span class="fa fa-regular fa-calendar-days"></span></th>
                <th *ngFor="let item of days" class="my-row hour-header">{{item}}</th>
            </tr>


            <tr *ngFor="let elem of hours; let hourIndex=index">
                <td class="my-row-header day-header">  {{elem}}:00  </td>

                <td class="my-row" *ngFor="let day of days; let dayIndex=index" >

                    <div class="full-cell" *ngIf="schedule[day][hourIndex].infoStudent != null">
                        <div>
                            <h6>{{schedule[day][hourIndex].infoStudent.subject.name}}</h6>
                            <div class="">

                                <button type="button" class="btn no-border" [ngbPopover]="popContent"
                                    triggers="mouseenter:mouseleave" popoverTitle="Detalle del horario"
                                    placement="bottom auto">
                                    <span class="fa-solid fa-circle-info"></span>
                                </button>
    
                                <ng-template #popContent class="popover-style">
                                    <div>
                                        <h5>Materia: </h5>
                                        <p>{{schedule[day][hourIndex].infoStudent.subject.name}}</p>
                                        <h6>Dia:</h6>
                                        <p class="text-capitalize">
                                            {{schedule[day][hourIndex].infoStudent.group.block.day}}
                                            ({{schedule[day][hourIndex].infoStudent.group.block.start}}:00 - {{schedule[day][hourIndex].infoStudent.group.block.end}}:00)
                                        </p>
                                        <h6>Grupo:</h6>
                                        <p>{{schedule[day][hourIndex].infoStudent.group.id}}</p>
                                        <h6>Ubicación y Profesor</h6>                            
                                        <p>{{schedule[day][hourIndex].infoStudent.group.block.loc}}</p>
                                    </div>
    
                                    
                                </ng-template>                            
    
    
                            </div>
                        </div>
                        
                    </div>
                    <div *ngIf="schedule[day][hourIndex].infoStudent == null">                        
                        <span *ngIf="dayIndex >= 5" class="fa-solid fa-bed" style="color: darkslategray"></span>
                        <span *ngIf="hourIndex <= 6 && dayIndex < 5" class="fa-solid fa-bed" style="color: darkslategray"></span>
                        <span *ngIf="hourIndex > 6 && hourIndex < 13 && dayIndex < 5" class="fa-solid fa-cannabis" style="color: green"></span>                    
                        <span *ngIf="hourIndex >= 13  && dayIndex < 5" class="fa-solid fa-beer-mug-empty" style="color: brown"></span>
                    </div>
                </td>
            
            </tr>

        </table>
    </div>

</div>


<div class="content m-top-bottom-3" *ngIf="scheduledList.length>0">
    <button class="btn btn-primary" (click)="printSchedule()">
        <span>Descargar Horario </span><i class="fa-solid fa-file-arrow-down"></i>
    </button>
</div>



<div class="content">

    <div class="table-container" *ngIf="scheduledList.length > 0" hidden>


        <table id="schedTable" class="">



            <tr class="">
                <th class="my-row"><span class="fa-4x fa-regular fa-calendar-days"></span></th>
                <th *ngFor="let item of days" class="my-row hour-header">{{item}}</th>
            </tr>


            <tr *ngFor="let elem of hours; let hourIndex=index">
                <th class="my-row-header day-header">{{elem}}:00</th>

                <td class="my-row" *ngFor="let day of days; let dayIndex=index">

                    <div class="full-cell" *ngIf="schedule[day][hourIndex].infoStudent != null">
                        <div class="font-weight-bold text-capitalize">
                            <b>{{schedule[day][hourIndex].infoStudent.subject.name}}</b>
                        </div>
                        <br>
                        <br>
                        <div><small>{{schedule[day][hourIndex].infoStudent.group.block.loc}}</small></div>
                        
                    </div>
                    <div *ngIf="schedule[day][hourIndex].infoStudent == null">                        
                        <span *ngIf="dayIndex >= 5" class="fa-solid fa-bed" style="color: darkslategray"></span>
                        <span *ngIf="hourIndex <= 6 && dayIndex < 5" class="fa-solid fa-bed" style="color: darkslategray"></span>
                        <span *ngIf="hourIndex > 6 && hourIndex < 13 && dayIndex < 5" class="fa-solid fa-cannabis" style="color: green"></span>                    
                        <span *ngIf="hourIndex >= 13  && dayIndex < 5" class="fa-solid fa-beer-mug-empty" style="color: brown"></span>
                    </div>
                </td>
            
            </tr>

        </table>

        <div>
            <button class="btn btn-primary" (click)="printSchedule()">
                <i class="fa-solid fa-file-arrow-down"></i>
            </button>
        </div>

    </div>
</div>


<div id="csd" class="content" *ngIf="scheduledList.length > 0" hidden>
    <div class="row p-side-10">
        <div class="col-lg">
            <div class="row">
                <div class="col-sm-1 mostrarHorasLg" style="padding: 0px;">
                    <div class="row">
                        <div class="col-sm">
                            <div class="header">-</div>
                            <div class="cuerpo" *ngFor="let hour of hours">{{hour}}:00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg" *ngFor="let day of days; let dayIndex=index">
                    <div class="row">
                        <div class="col-sm-4 mostrar" style="padding: 0px;">
                            <div class="header">-</div>
                            <div class="cuerpo"*ngFor="let hour of hours">{{hour}}:00</div>
                        </div>
                        <div class="col-sm" style="padding: 0px;">
                            <div class="header">{{day}}</div>
                            <div class="cuerpo" *ngFor="let item of schedule[day]; let hourIndex=index">

                                <div class="full-cell" *ngIf="item.infoStudent != null">
                                    <h6>{{item.infoStudent.subject.name}}</h6>
                                    <small>{{item.infoStudent.group.block.loc}}</small>
                                </div>
                                <div *ngIf="item.infoStudent == null">                        
                                    <span *ngIf="dayIndex >= 5" class="fa-solid fa-bed" style="color: darkslategray"></span>
                                    <span *ngIf="hourIndex <= 6 && dayIndex < 5" class="fa-solid fa-bed" style="color: darkslategray"></span>
                                    <span *ngIf="hourIndex > 6 && hourIndex < 13 && dayIndex < 5" class="fa-solid fa-cannabis" style="color: green"></span>                    
                                    <span *ngIf="hourIndex >= 13  && dayIndex < 5" class="fa-solid fa-beer-mug-empty" style="color: brown"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>                

            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>